# Advanced Data Preparation with Python (Car Data)

## Libraries and settings

In [ ]:
# Libraries
import os
import re
import time
import fnmatch
import numpy as np
import pandas as pd
import seaborn as sns
from datetime import datetime
import matplotlib.pyplot as plt

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Get current working directory
print(os.getcwd())

## Importing data

In [ ]:
# Import data from csv to pandas dataframe named 'df'
df = pd.read_csv('./Data/autoscout24_data.csv', sep=";", encoding='utf-8')

# Change the column names to lowercase
df.columns = df.columns.str.lower()

# Display the first 5 rows of the dataframe
df.head()

## Count number of rows and columns in the data frame

In [ ]:
# Count number of rows and columns in the data frame
print("Number of rows: ", df.shape[0])
print("Number of columns: ", df.shape[1])

## Get data types (raw-format from web scraper)

In [ ]:
# Get data types of each column
df.dtypes

## Extract information from raw data using regular expressions (regex)

### Extract numerical values from mileage_raw

In [ ]:
# Extract numerical values from mileage_raw
mileage = []
for i in df['mileage_raw']:
    d1 = re.findall('\d+', i)
    if d1:
        d2 = int(''.join(d1))
    else:
        d2 = None
    mileage.append(d2)

# Save as new variable in the pandas data frame
df['mileage'] = pd.Series(mileage, dtype="Int64")

# Show first records of data frame
df[['mileage_raw', 'mileage']].head()

### Extract numerical values from hp_raw

In [ ]:
# Extract numerical values from mileage_raw
hp = []
for i in df['hp_raw']:
    d1 = re.findall('\d+', i)
    if d1:
        d2 = int(''.join(d1))
    else:
        d2 = None
    hp.append(d2)

# Save as new variable in the pandas data frame
df['hp'] = pd.Series(hp, dtype="Int64")

# Show first records of data frame
df[['hp_raw', 'hp']].head()

### Extract numerical values from price_raw

In [ ]:
# Extract numerical values from mileage_raw
price = []
for i in df['price_raw']:
    d1 = re.findall('\d+', i)
    if d1:
        d2 = int(''.join(d1))
    else:
        d2 = None
    price.append(d2)

# Save as new variable in the pandas data frame
df['price'] = pd.Series(price, dtype="Int64")

# Show first records of data frame
df[['price_raw', 'price']].head()

### Get data types of all variables, including the new once

In [ ]:
# Get data types of all variables
df.dtypes

## Count and remove missing values

In [ ]:
# Count and remove missing values
print("Number of missing values in each column: ")
print(df.isnull().sum().sum())
df = df.dropna()

# Reset the index of the dataframe
df = df.reset_index(drop=True)
df.head()

## Count and remove duplicated values

In [ ]:
# Count and remove duplicates
print("Number of duplicates: ", df.duplicated().sum())
df = df.drop_duplicates()

# Reset the index of the dataframe
df = df.reset_index(drop=True)
df.head()

## Use string manipulation methods to create additional variables from the car type

### Change strings in 'type' to uppercase

In [ ]:
# Change strings in 'type' to uppercase and remove leading and trailing whitespaces
df['type'] = df['type'].str.upper().str.strip()

# Display variable 'type'
df['type'].head()

### Calculate length of strings in 'type'

In [ ]:
# Calculate length of strings in 'type'
df['type_len'] = df['type'].str.len()

# Display variables 'type' and 'type_len'
df[['type', 'type_len']].head()

### Create binary (0/1) variable 'luxury_car'

### Create variable 'price_per_hp'

### Include current datetime as time stamp

## Discretization of numerical data

## One Hot Encoding

## Scaling

### Min-Max Scaling

### Max-Absolute Scaling

### Robust Scaling

## Standardization

### Z-score Normalization

## Transformation

### Log-Transformation

### SQRT-Transformation

### Box-Cox Transformation

## Combining & organizing data

### Reading car data with geocoded addresses

### Join geo-information to car data using .merge()

### Reading municipality-level data from an .xlsx - file

### Join municipality-level data to the car data data using .merge()

### Sorting data

### Reshaping data

#### Reshaping data using .stack() and .unstack()

#### Reshaping data using .melt()

### Pivoting data using .pivot_table()

### Jupyter notebook --footer info-- (please always provide this at the end of each notebook)

In [ ]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')